*{margin:0;
  padding: 0;
  box-sizing:border-box;
}
body
{
width: 100vw;
height: 100vh;
  margin:0;
  padding: 0;
    background-color: rgb(0, 0, 0);

}
    /*BORDES*/
.barra
{
box-sizing: border-box;
 width:100vw ;
 height:6px;
background-color: rgb(0, 0, 0);
}

.barramenu1
{
  box-sizing: border-box;
   padding-left: 1%;
   padding-right: 0%;
   width: 12vw; ;
  height:130px;
  background: linear-gradient(to top,black,red ,rgb(0, 0, 0));

}
.barramenu2
{
  box-sizing: border-box;
  width: 77vw; 
 height:130px;
 background: linear-gradient(to top,black,red ,rgb(0, 0, 0));

}
.barramenu3
{
  box-sizing: border-box;
  width: 11vw; ;
 height:130px;
background: linear-gradient(180deg,black,rgb(255, 0, 0) ,rgb(0, 0, 0));
}

/*CONFIGURCION DEL MENU*/
.menu
{
  display: flex;
  padding-left: 0%;
  padding-right:0%;
}

/*alineacion y separacion de lista*/
.lista
 {
  font-weight: bold;
}
 
  .lista  li
{
 padding: 50px 73px ;
display: inline-block;
}
.lista a
 {
 text-decoration: none;
 color: rgb(255, 255, 255);
  font-size: 25px;
 }

 .lista  a:hover
{
  color: rgb(0, 0, 0);
}


/*alineacion y separacion de imagenes del  menu*/
.imguser
{
height: 55px;
 width: 60px;
padding-left: 20px;
padding-top: 40px;
}

.imguser img:hover
{
  height: 42px;
  width: 47px;
}

/*buscar*/
.buscar{
	position: absolute;
	left: 89%;
bottom: 72%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

.input {
	outline: none;
	box-sizing: border-box;
	height: 32px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: px;
	border: 1px solid rgb(201, 3, 3);
	transition: all .7s ease;
}

::placeholder {
	color: rgb(0, 0, 0);

}

.circulo {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 52px;
	height: 52px;
	background: rgb(201, 3, 3);
	line-height: 55px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.circulo i {
	font-size: 17px;
	color: white;
	line-height: 55px;
	transition: all .7s ease;
}

.buscar:hover .input {
	width: 300px;
}

.buscar:hover i{
	transform: rotate(-360deg);
}

.circulo:hover{
	background: #cc0000;
}
